.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.5rem;
    width: calc(100% / 8 - 1rem);
    /* Adjust the width based on your desired layout */
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.featureSvg {
    height: 40px;
    width: 40px;
}