---
layout: default
title: Caddy Grid
permalink: /caddygrid
---
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Caddy <a href="https://github.com/JinnaBalu/docker-caddy" target="_blank"><i class="ri-github-fill"></i></a>
        </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Caddy Grid</li>
            </ol>
        </nav>
    </div>
    <hr>
    <section class="section">
        <div class="row">
            {% for post in site.posts %}
            {% if post.categories contains 'Caddy' %}
            {% include postbox.html %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="row hidden-md-up">
            <div class="col-lg-3 col-md-6 mb-30px card-group">
                <div class="card h-100">
                    <div class="maxthumb">
                        <a target="_blank" href="https://www.linkedin.com/pulse/redirection-caddy-jinna-balu/">
                            <img class="img-fluid" src="/assets/img/caddy-redirections.png" alt="Caddy Redirections">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a target="_blank" href="https://www.linkedin.com/pulse/redirection-caddy-jinna-balu/">Caddy
                                Redirections</a>

                        </h4>
                        <h6 class="card-text">Caddy is the first and only web server to use HTTPS automatically and by
                            default.</h6>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>